@import "moduls/template";

.map-on-site {
  width: 100%;
  height: 400px;
  z-index: 1;
}

.big-center-block {
  width: $widthTablet - 87px;
  margin: 10px auto 20px;
  padding: 30px;

  border: $borderValue;
  @include border-radius(3px)
}

@media (max-width: $widthTablet) {
  .big-center-block {
    width: 90%;
    padding: 5%;
    @include border-radius(0)
  }
}