@import "moduls/template";
@import "moduls/header";
@import "moduls/menu";
@import "moduls/footer";
@import "moduls/reset";
@import "moduls/slider";
@import "moduls/notification";
@import "moduls/popUp";
@import "moduls/multiselect";
@import "moduls/content";
@import "moduls/rating";
@import "moduls/fileUploader";
@import "moduls/modal";
@import "moduls/sharing";

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/fontawesome-webfont.eot');
  src: url('../fonts/fontAwesome.otf') format("opentype"),
  url('../fonts/fontawesome-webfont.woff') format("woff"),
  url('../fonts/fontawesome-webfont.woff2') format("woff2"),
  url('../fonts/fontawesome-webfont.ttf') format("truetype"),
  url('../fonts/fontawesome-webfont.svg') format("svg");
  font-weight: normal;
  font-style: normal;
}

.icon {
  @include iconStyle();

  &.search:before {
    content: "\f002";
  }

  &.icon-left:before {
    content: "\f053";
  }

  &.icon-right:before {
    content: "\f054";
  }

  &.sort-desc:before {
    content: "\f0dd";
  }

  &.sort-asc:before {
    content: "\f0de";
  }

  &.newspaper:before {
    content: "\f1ea";
  }

  &.music:before {
    content: "\f001";
  }

  &.star-full:before {
    content: "\f005";
  }

  &.user:before {
    content: "\f2bd";
  }

  &.play-circle:before {
    content: "\f01d";
  }

  &.load:before {
    content: "\f110";
  }

  &.pencil:before {
    content: "\f040";
  }

  &.check:before {
    content: "\f00c";
  }

  &.cancel:before {
    content: "\f00d";
  }

  &.fb:before {
    content: "\f09a";
  }

  &.vk:before {
    content: "\f189";
  }

  &.tvit:before {
    content: "\f099";
  }
}

html {
  font-family: 'Fira Sans',sans-serif;;
  font-size: 16px;
  height: 100%;
  background-color: $background;
}

body {
  background-color: $background;
  overflow-x: hidden;
  height: 100%;
}

#page {
  @include box-sizing();
  min-height: 100%;
  background-color: $background;
  padding: $headerHight 0 $footerHeight 0;
  margin-bottom: -($footerHeight + 1);
}

.small-text {
  font-size: 0.8rem;
}

.small-href {
  cursor: pointer;
  font-size: 0.8rem;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.btn {
  font-family: 'Fira Sans',sans-serif;;
  font-weight: 700;
  font-size: 0.9rem;
  cursor: pointer;
  padding: 8px 15px;
  text-align: center;

  @include border-radius(3px);

  &.light {
    color: $lightText;
    background-color: $background;
    border: $borderValue;


    &:hover {
      color: $hoverText;
      border-color: $hoverText;
    }
  }

  &.dark {
    color: $background;
    background-color: $hoverText;
    border: 0px;

    &:hover {
      background-color: $darkenHoverText;
    }
  }
}

.title-text {
  font-size: 1.5rem;
  padding-bottom: 10px;
  color: $lightText;
  margin-bottom: 20px;
}

.info-text {
  font-size: 1rem;
  color: $darkText;
  text-align: justify;
  line-height: 1.5rem;
}

.check-a {
  cursor: pointer;
  text-decoration: none;
  color: $darkText;

  &:hover {
    text-decoration: underline;
  }
}

.page-title {
  font-size: 1.6rem;
  font-weight: bold;
  color: $lightText;
  padding: 15px 10px;
}

.separate-line {
  width: 100%;
}

.centered-block {
  width: $widthTablet - 20;
  margin: auto;
  position: relative;

  padding-left: 10px;
  padding-right: 10px;
  @include clearfix();
}

.column-2-3 {
  position: relative;
  width: (2 / 3) * 100%;
  float: left;
}

.column-1-3 {
  position: relative;
  text-align: center;
  width: (1 / 3) * 100%;
  float: right;
}

.input-field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  height: 40px;
  padding: 5px 10px;
  font-size: 1rem;
  margin: 5px 0 15px 0;
  border: $borderValue;
  @include border-radius(0);
}

.label-field {
  display: block;
  width: 100%;
  font-size: 1.1rem;
  margin: 15px 0 10px 0;
}


.textarea-field {
  box-sizing: border-box;
  display: block;
  padding: 5px 10px;
  font-size: 1rem;
  border: $borderValue;
  width: 100%;
}

.text-btn {
  cursor: pointer;
  color: $lightText;
  font-size: 0.9rem;
  font-style: italic;
  padding: 5px;
  margin: 0 25px;

  &:hover {
    text-decoration: underline;
    color: $hoverText;
  }
}

.content-owner {
  cursor: pointer;

  &[contenteditable=true] {
    cursor: auto;
    border: 1px solid $hoverText;
  }
}

@media (max-width: $widthTablet) {
  html {
    font-size: 18px;
  }

  .page-title {
    text-align: center;
    padding: 10px 0;
  }

  .centered-block {
    padding-left: 0;
    padding-right: 0;
    width: 94%;
    margin-left: 3%;
  }
}

@media (max-width: $widthSmall) {
  .column-2-3 {
    text-align: center;
    width: 100%;
    float: none;
  }

  .column-1-3 {
    text-align: center;
    width: 100%;
    float: none;
  }

  .content-view-description {
    text-align: justify;
  }

}