@import "template";

#menu {

  float: left;
  margin-left: 50px;

  .menu-element {
    float: left;
    margin-top: 15px;
    font-size: 1.1rem;
    border-right: $borderValue;

    &.last-element, &:last-child {
      border-right: none;
    }

    a {
      padding: 15px 10px;
      color: $lightText;
      text-decoration: none;

      &:hover {
        color: $hoverText;
      }

    }
  }

  .submenu {
    display: none;
    position: absolute;
    z-index: 1000;
    top: $headerHight;
    border: $borderValue;
    background: $background;

    .submenu-element {
      a {
        display: block;
        padding: 10px 20px;
        color: $darkText;
        text-decoration: none;
        width: 100px;
        font-weight: 100;
        font-size: 0.8rem;

        &:hover {
          background: $hoverText;
          color: $background;
        }
      }
    }
  }
}

@media (max-width: $widthTablet) {

}