//Global constants

$background: #fafafa;
$colorHover: darken($background, 4%);
$colorText: #222;
$lightText: #838a92;
$darkText: #464646;
$hoverText: #6da3bd;
$darkenHoverText: darken($hoverText, 6%);
$headerHight: 50px;
$colorBorder: $lightText;
$searchHeight: 25px;
$searchWidth: 250px;
$footerHeight: 40px;

$widthBig: 1280px;
$widthTablet: 960px;
$widthMobile: 760px;
$widthSmall: 500px;

$borderValue: 1px solid $colorBorder;

//Useful functions
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($radius) {
  -webkit-box-shadow: $radius;
  -moz-box-shadow: $radius;
  -ms-box-shadow: $radius;
  box-shadow: $radius;
}

@mixin box-shadow($where, $from, $to) {
  background: $from;
  background: -webkit-linear-gradient($where, $from, $to);
  background: -moz-linear-gradient($where, $from, $to);
  background: -o-linear-gradient($where, $from, $to);
  background: linear-gradient($where, $from, $to);
  -pie-background: linear-gradient($where, $from, $to);
}